//Esquema de colores

//Primer esquema de colores
$coral: #FFFF00;
//Segundo esquema de colores
$flame: #E4572E;

//Tercer esquema de colores
$granite: #686963;
$taupe: #91918D;
$gray: #BABAB8;

//Tipografia
$mono: 'PT Mono', monospace;
$roboto: 'Roboto', sans-serif;

//Peso de fuentes
$regular: 400;
$ligth: 300;


//Tamaños de fuentes
$xx-large: 100px;
$x-large: 70px;
$large: 50px;
$medium: 18px;
